@model ProyectoWeb.Models.Clientes

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Clientes</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cedula_clientes" class="control-label"></label>
                <input asp-for="Cedula_clientes" class="form-control" />
                <span asp-validation-for="Cedula_clientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_cliente" class="control-label"></label>
                <input asp-for="Nombre_cliente" class="form-control" />
                <span asp-validation-for="Nombre_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellidos_cliente" class="control-label"></label>
                <input asp-for="Apellidos_cliente" class="form-control" />
                <span asp-validation-for="Apellidos_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo_cliente" class="control-label"></label>
                <input asp-for="Correo_cliente" class="form-control" />
                <span asp-validation-for="Correo_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena_cliente" class="control-label"></label>
                <input asp-for="Contrasena_cliente" class="form-control" />
                <span asp-validation-for="Contrasena_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono_cliente" class="control-label"></label>
                <input asp-for="Telefono_cliente" class="form-control" />
                <span asp-validation-for="Telefono_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion_cliente" class="control-label"></label>
                <input asp-for="Direccion_cliente" class="form-control" />
                <span asp-validation-for="Direccion_cliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
